* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
body{
    background: black ;

}
div {
    height: 20.33vh;
}
#fahrenheit{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
input[type=number]{
    width: 100%;
    height: 100%;
    background: black;
    color:white;
    font-size: 120px;
    text-align: center;
    border:0;
    outline: none;
}
@media screen and (max-width:600px)
{
    input[type=number]{
        width: 100%;
        height: 100%;
        background: black;
        color:white;
        font-size: 50px;
      
    }
}
::-webkit-input-placeholder{
    color:white ;
    text-align: center;
}

::-moz-placeholder{
    color:white ;
    text-align: center;

}
::-ms-input-placeholder{
    color:white;
    text-align: center;
}
.social-menu >p{
    color:white;
    text-align: center;
    margin-bottom: 55px;
    font-size: 45px;
}
@media screen and (max-width:600px)
{
    .social-menu >p{
        color:white;
        text-align: center;
        margin-bottom: 55px;
        font-size: 25px;
    }
}
.social-menu ul{
    position: absolute;
    left: 50%;
    padding: 0 px;
    margin: 10px ;
    transform: translate(-50%, -50%);
    display: flex;
}
.social-menu ul li{
    list-style: none;
    margin:0 5px;
  }
  
  .social-menu ul li .fa{
     font-size:35px;
     line-height: 70px;
     transition: .6s;
     color: #000;
  
    }
    .social-menu ul li .fa:hover{ 
        color: #fff;
  
    }
  
    .social-menu ul li a {
        position: relative;
        display:block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        transition: .6s;
    }
  .social-menu ul li a:hover {
      transform:translate(0,-10px);
  
  }

  .social-menu ul li:nth-child(1) a:hover{
      background-color: #0077B5;
  }
  .social-menu ul li:nth-child(2) a:hover{
      background-color:#131418;
  }
  .social-menu ul li:nth-child(3) a:hover{
      background-color:#cd201f;
  }
  

@media screen and (max-width:400px)
{
    .social-menu ul li:nth-child(5)
    {display: none;}
}